//footer

.footer{
    @include mobile{
        justify-content: center;
    }
}

.copyRight{
    @include mobile{
        font-size: 12px;
    }
}

.footerList{
    @include mobile{
        display: none;
    }
}
