// header
h1{
    @include imgShowTextHidden;
}

.headerMenu{
    line-height: 24px;
    // 手機
    @include mobile{
        display: none;
    }
}

.headerMobileMenu{
    display: none;
    position: relative;
    // 手機
    @include mobile{
        display: block;
    }
}

.iconCartQuantity{
    position: absolute;
    border-radius: 50%;
    line-height: 12px;
    text-align: center;
    padding: 3px 6px;
    margin: 5px 0px 0px -30px;
}