//顏色
$primaryColor:#916019; //主色-金色
$secondaryColorDark:#707070;//次要色-深灰
$secondaryColorMid:#8D8D8D; // 次要色-中灰
$secondaryColorLight:#E0E0E0; //次要色-淺灰

$assistColorWhite:#ffffff;
$assistColorBlack:#000000;


//logo
$chanelLogoGold:"https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true";
$chanelLogoW:"https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfumewhite@2x.png?raw=true";